body {
  margin: 0;
  padding: 0;
  background-color: #e9ebee;
}


#barra {
  height: 43px;
  background-color: #4267b2;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

#contenidor {
  width: 853px;
  background-color: #FFF;
  margin: 0 auto;
  overflow: hidden;
}

#portada {
  height: 316px;
  background-image:  url(../img/Portada.jpg);
  border: solid 2px #D3D3D3;
  margin-top: 43px;
}

#nom {
  background-color:;
  position: relative;
  width: 120px;
  top: 250px;
  left: 200px;
  color: #FFF;
  font-family: Lucida, tahoma, Segoe UI, San Francisco;
  text-shadow: 0 0 4px black;
}

#perfil {
  background-color: pink;
  width: 161px;
  border: solid 3px #D3D3D3;
  border-radius: 4px;
  position: relative;
  left: 20px;
  top: 110px;
  box-shadow:  0 0 5px black;
}

#menu {
  height: 44px;
  background-color: #e6e8eb;
  padding: 0;
  margin: 0 0 0 189px;
  width: 484px;
  overflow-x: hidden;
}

#menu li {
  background-color: #FFF;
  margin-right: 2px;
  float:left;
  padding: 0 18px;
  display: block;
  Font-family: Lucida, tahoma, Segoe UI, San Francisco;
  font-weight: bold;
  color: #4267b2;
  margin: 0 0 0 2px;
  height: 44px;
  line-height: 44px;
}

#menu li:hover {
  color: #000;
  background-image: url(../img/selec.gif);
  background-repeat:  no-repeat;
  background-position: 50% 37px;
}

#contingut {
  border-top: solid 1px #e6e8eb ;
}


.esquerra {
  width: 323px;
  margin: 10px 0;
  display: block;
  border: solid 1px #CCC;
  border-radius: 4px;
  padding: 0;
  Font-family: Lucida, tahoma, Segoe UI, San Francisco;
  font-weight: bold;
  float: left;
  clear: both;

}


.esquerra h4 {
  background-color:;
  height: 14px;
  padding: 5px;
  font-weight: normal;
  font-size: 18px;
  text-indent: 36px;
  background-image: url(../img/lateral.png);
  background-repeat: no-repeat;
  margin: 0;
}

.esquerra ul{
  margin-top: 20px;
}


#presentacio h4 {
  background-position: 0 0;
}

#fotos h4{
  background-position:  0 -24px;
}

#amics h4{
  background-position: 0 -48px;
}

#presentacio li{
  height: 40px;
  border-top: solid 1px gray;
  font-size: 12px;
  line-height: 30px;
}


.estudis {
  list-style-image: url(../img/icones_estudis.png);
}
.domicili {
  list-style-image: url(../img/icones_domicili.png);
}
.feina {
  list-style-image: url(../img/icones_feina.png);
}
.relacio {
  list-style-image: url(../img/icones_sentimental.png);
}
.esdeveniments {
  list-style-image: url(../img/icones_esdeveniments.png);
}
.pagina {
  list-style-image: url(../img/icones_rss.png);
}


#fotos ul li {
  background-color: yellowgreen;
  display: block;
  width: 99px;
  height: 99px;
  margin: 4px;
  float: left;
  background-size: 99px 99px;
  color: transparent;
}

#fotos ul{
  overflow: hidden;
  margin: 0;
  padding: 0;
  position: relative;
}


#f01 {
  background-image: url(../img/fotos/f01.png);
}
#f02 {
  background-image: url(../img/fotos/f02.png);
}
#f03 {
  background-image: url(../img/fotos/f03.jpg);
}
#f04 {
  background-image: url(../img/fotos/f04.png);
}
#f05 {
  background-image: url(../img/fotos/f05.jpg);
}
#f06 {
  background-image: url(../img/fotos/f06.jpg);
}
#f07 {
  background-image: url(../img/fotos/f07.png);
}
#f08 {
  background-image: url(../img/fotos/f08.jpg);
}
#f09 {
  background-image: url(../img/fotos/f09.jpg);
}


#amics ul{
  overflow: hidden;
  margin: 0;
  padding: 0;
  position: relative;
}

#amics ul li {
  display: block;
  width: 99px;
  height: 99px;
  margin: 4px;
  float: left;
  background-size: 99px 99px;
  color: white;
  line-height: 178px;
  text-shadow: 3px;
  background-image: ;
  text-indent:  5px;
  font-size: 14px;
  font-style: normal;
  Font-family:Lucida, tahoma, Segoe UI, San Francisco;
  text-shadow: 0 0 4px black;
}


#cristian {
  background-image: url(https://calvarez2018.github.io/MP08/s2m8uf103_alvarez/img/perfil.jpg);
}
#rosa {
  background-image: url(https://rtirado2018.github.io/MP08/s2m8uf103_tirado20%/img/perfil.jpg);
}
#noelia {
  background-image: url(https://npedraza2018.github.io/MP08/s2m8uf103_pedraza/img/perfil.jpg);
}
#silvia {
  background-image: url(https://sestall2018.github.io/MP08/s2m8uf103_estall/img/perfil.jpg);
}
#jaume {
  background-image: url(https://jricart2018.github.io/MP08/s2m8uf103_ricart/img/perfil.jpg);
}
#alex {
  background-image: url(https://amanchon2018.github.io/MP08/s2m8uf103_manchon/img/perfil.jpg);
}
#ana {
  background-image: url(https://acalvo2018.github.io/MP08/s2m8uf103_calvo/img/perfil.jpg);
}
#andrea {
  background-image: url(https://aganoza2018.github.io/MP08/s2m8uf103_ganoza/img/perfil.jpg);
}
#marclo {
  background-image: url(https://mlozano2018.github.io/MP08/s2m8uf103_lozano/img/perfil.jpg);
}


#pensa ul{
  height: 40px;
  background-color:#f5f6f8;
  margin: 0;
  padding: 0;
  font-size: 14px;
}
#pensa ul li{
  float: left;
  margin: 5px 20px 0px 35px;
  border-right: solid 1px grey;
  padding-right: 10px;

}
#pensa div{
  height: 40px;
  margin: 0;
  padding: 0;
}
#pensa div input{
  height: 36px;
  width: 509px;
  margin: 0;
  padding: 0;
}
#pensa ul li a{
  display: block;
  height: 34px;
}
#pensa ul li a:hover {
  background-repeat: no-repeat;
  background-image: url(../img/selec.gif);
  background-position: 30% 105%;
}


#icoestat {
  list-style-image:  url(../img/post_nota.png);
}
#icofoto {
  list-style-image:  url(../img/post_foto.png);
}
#icoevent {
  list-style-image:  url(../img/post_ubicacio.png);
}

.dreta {

  width: 513px;
  border: solid 1px gray;
  margin: 10px 0;
  border-radius: 3px;
  float: right;
  position: relative;
  top: -695px;
  Font-family: Lucida, tahoma, Segoe UI, San Francisco;
}

/*------- Estils del mur ------*/

h5 {
  font-style: normal;
  font-weight: normal;
  margin: 0;
  height: 10px;
  padding: 5px;
}
h6 {
  font-style: normal;
  font-weight: normal;
  background-color: ;
  margin: 0;
  height: 10px;
  padding: 5px;
}

.postintro {
  background-image: url(../img/Perfil.jpg);
  padding: 10px 10px 10px 50px;
  background-repeat: no-repeat;
  background-size: 40px 40px;
  background-position: 10px 10px;
}

.post img, .post iframe, .post p {
  font-size: 12px;
  padding: 10px;
  width: 493px;
  height: auto;
}
